@use 'styles/colors.scss' as c;
@use 'styles/variables.scss' as v;
@use 'styles/mixins.scss' as m;

.container {
  overflow-x: auto;
  max-width: 1160px;
}

.table {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  position: relative;
  overflow-x: auto;

  tr {
    width: 10%;
    position: relative;
  }

  th {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    max-width: 180px;
    text-overflow: ellipsis;
  }

  th:last-child {
    width: 20px !important;
    min-width: 20px;
  }
  td {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    max-width: 180px;
    text-overflow: ellipsis;
  }
  td:last-child {
    width: 20px !important;
    min-width: 20px;
  }

  // @media screen and (max-width: 1550px) {
  //   th {
  //     max-width: 120px;
  //   }

  //   td {
  //     max-width: 120px;
  //   }
  // }
  // last child of th and td has min-width: 20px
  // to avoid the table from overflowing

  tr {
    min-width: 1070px;
  }

  .header-container {
    margin-bottom: 20px;
    tr {
      display: flex;
    }
    .header-item {
      font-family: v.$work-sans;
      font-weight: 600;
      font-size: v.$font-size-xxs;
      line-height: 14px;
      display: flex;
      gap: v.$margin-3;
      text-transform: uppercase;

      color: c.$grey-text;
    }
  }
  .body-container {
    position: relative;
    width: 100%;
    .body-item {
      width: fit-content;
      display: flex;
      gap: v.$margin-3;

      font-family: v.$work-sans;
      font-weight: 400;
      font-size: v.$font-size-xs;
      color: c.$grey-text;
      padding: 20px 0;
      border-bottom: 1px solid c.$gray;
    }
  }
  .body-container > :last-child {
    border-bottom: none;
  }
}

.status {
  display: flex;
  justify-content: center;
}

.tag {
  color: c.$success;
  background-color: c.$success-bg;
  border-radius: 100px;
  padding: 7px 16px;
}

.action {
  cursor: pointer;
  position: relative;
}

.actions-card {
  padding: 10px 0 !important;
  width: 180px;
  position: absolute;
  top: 55px;
  right: 0;
  display: flex;
  flex-direction: column;

  border-radius: v.$border-radius-1;
  > div {
    margin: v.$margin-1;
  }

  &__item {
    padding: v.$padding-3 v.$padding-7 !important;
    display: flex;
    align-items: center;
    gap: v.$margin-3;

    cursor: pointer;
    &:hover {
      background-color: c.$gray-2;
    }
  }
}

.action-option {
}

.org-name:hover {
  cursor: pointer;
  text-decoration: underline;
}

.users-paginate {
  max-width: 1160px;

  display: flex;
  justify-content: space-between;
  margin-top: v.$margin-5 + 3;
  color: c.$grey-text;
  font-size: v.$font-size-xs;

  @media screen and (max-width: v.$max-breakpoint-sm) {
    flex-direction: column;
    gap: v.$margin-5;
    align-items: center;
  }

  .user-page-info {
    span {
      padding: v.$padding-2 v.$padding-3;
      color: c.$grey-text;
      font-weight: 500;
      background-color: rgba(33, 63, 125, 0.1);
      border-radius: v.$border-radius-1;
      img {
        margin-left: v.$margin-3;
      }
    }
  }

  .pagination {
    font-size: v.$font-size-sm;
    display: flex;
    align-items: center;
    gap: v.$margin-5;
    list-style: none;

    color: c.$grey-text-light;
    .active {
      font-weight: 500;
      font-size: v.$font-size-sm;
      line-height: 19px;

      color: c.$grey-text;
      opacity: 1;
    }
    .page-link {
      cursor: pointer;
    }
    .arrow {
      cursor: pointer;
      height: 24px;
      width: 24px;

      background: rgba(33, 63, 125, 0.1);
      border-radius: 4px;
    }
  }
}
