@use 'styles/colors.scss' as c;
@use 'styles/variables.scss' as v;
@use 'styles/mixins.scss' as m;

.container {
  // display: flex;
  // flex-direction: row;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  width: 100vw;
  background-color: c.$gray-background;
  @media screen and (max-width: v.$max-breakpoint-sm) {
    grid-template-columns: 1fr;
  }
}

.left-section {
  display: flex;
  flex-direction: column;
  gap: v.$margin-3;
  margin: v.$margin-21;

  .landing-page-logo-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
    img {
      width: 100%;
    }
  }

  @media screen and (max-width: v.$max-breakpoint-lg) {
    margin: v.$margin-10;
  }
  @media screen and (max-width: v.$max-breakpoint-md) {
    margin: v.$margin-5;
  }
  @media screen and (max-width: v.$max-breakpoint-sm) {
    display: none;
  }
}

.logo-header {
  display: flex;
  flex-direction: row;
  gap: v.$margin-3;
}

.right-section-container {
  background-color: c.$white;
  width: 100%;
  height: 100%;
  > div {
    height: 100%;
    max-width: 447px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: v.$margin-13;
  }
  padding: v.$padding-17;

  .secondary-logo {
    @media screen and (max-width: v.$max-breakpoint-sm) {
      display: block;
      margin: 0 auto;
    }
    display: none;
  }

  @media screen and (max-width: v.$max-breakpoint-lg) {
    padding: v.$padding-15;
  }
  @media screen and (max-width: v.$max-breakpoint-md) {
    padding: v.$padding-8;
  }
}

.login-input {
  display: flex;
  flex-direction: column;
  gap: v.$margin-6;
  input {
    height: 40px;
    border-radius: v.$border-radius-1;
    border: 1px solid c.$gray-input;
    padding: 0 v.$padding-3;

    font-weight: 400;
    font-size: v.$font-size-xs;
    line-height: 19px;

    color: c.$gray-input;
  }
  &__password {
    position: relative;
    > input {
      width: 100%;
    }
    span {
      position: absolute;
      right: 13px;
      top: 13px;
      cursor: pointer;
      color: c.$primary;
    }
  }
}

.login-header-title {
  color: c.$blue-dark;
  font-weight: 700;
  font-size: v.$font-size-5xl;
  line-height: 55px;
}

.login-header-subtitle {
  font-size: v.$font-size-lg;
  line-height: 27px;
  color: #545f7d;
}

.show {
  position: absolute;

  text-transform: uppercase;
  font-weight: 600;
  font-size: v.$font-size-3xs;

  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.forgot-password {
  color: c.$primary;
  font-weight: 600;
  font-size: v.$font-size-xxs;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.login-btn {
  letter-spacing: 0.1rem;
}
