@use 'styles/colors.scss' as c;
@use 'styles/variables.scss' as v;
@use 'styles/mixins.scss' as m;

.container {
  padding: v.$padding-16;
  display: flex;
  flex-direction: column;
  gap: 40px;

  @media screen and (max-width: v.$max-breakpoint-lg) {
    padding: v.$padding-8 v.$padding-7;
  }
  @media screen and (max-width: v.$max-breakpoint-md) {
    padding: v.$padding-6 v.$padding-5;
  }
}

.title {
  font-family: v.$work-sans;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: c.$blue-dark;
}

.cards-container {
  display: flex;
  gap: 26px;
  max-width: 1160px;
  @media screen and (max-width: v.$max-breakpoint-md) {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}

.card {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  min-height: 160px;
  font-family: v.$work-sans;
  &__title {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #545f7d;
  }
  &__value {
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: #213f7d;
  }
}
