$primary: #39cdcc;
$blue-dark: #213f7d;
$primary-light: #39cdcc;
$white: #ffffff;
$gray-2: #f2f2f2;
$gray: #e6e6e6;
$black: #000000;
$primary-lighter: #39cdcc;
$bg: #fff;
$grey-700: #545f7d;
$error: #ff0000;
$primary-darker: #39cdcc;
$placeholder-light: #545f7d;
$gray-input: #545f7d87;
