@use 'styles/colors.scss' as c;
@use 'styles/variables.scss' as v;
@use 'styles/mixins.scss' as m;

.container {
  display: flex;
  flex-direction: column;
  font-size: v.$font-size-sm;
  padding: 0 v.$padding-10;
}

.section {
  display: flex;
  flex-direction: column;
  gap: v.$margin-7;

  width: 100%;
  padding: v.$padding-9 0;

  .title {
    font-weight: 500;
    color: c.$blue-dark;
  }

  border-bottom: 1px solid c.$gray;
}

.section:last-child {
  border-bottom: none;
}

.detail-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: v.$margin-7;

  @media screen and (max-width: v.$max-breakpoint-lg) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media screen and (max-width: v.$max-breakpoint-md) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (max-width: v.$max-breakpoint-sm) {
    grid-template-columns: 1fr;
  }
}

.detail {
  display: flex;
  flex-direction: column;
  gap: v.$margin-3;
  color: c.$grey-text;

  &__label {
    font-size: v.$font-size-xxs;
    line-height: 14px;
    text-transform: uppercase;
  }

  &__value {
    font-weight: 500;
    font-size: v.$font-size-sm;
    line-height: 19px;
  }
}
